{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main class="main">
  {{#with data}}
  <div class="main-content">
    <h1 class="title title--center">{{name}}</h1>

    <ul class="track__list">
      <a href="spotify-track-add?playlistId={{playlistId}}" class="add--button">
        <img class="add__button-image" src="/svg/add__button.svg">
        Додати до плейліста
      </a>

      {{#each tracks}}
      <li class="track">
        <img width="100px" height="100px" src="{{image}}">
        <div class="track__content">
          <strong class="track__name">{{name}}</strong>
          <em class="track__author">{{author}}</em>
        </div>
        <a href="/spotify-track-delete?playlistId={{../playlistId}}&trackId={{id}}">
          <img src="/svg/delete_button.svg">
        </a>
      </li>
      {{/each}}
    </ul>

  </div>
  {{/with}}
</main>