{{!-- <div class="alert alert__box">
  <h1>{{info}}</h1>
  <a class="alert__button" href="{{link}}">Повернутися</a>
</div> --}}

<div class="alert alert__box">
  {{#with data}}
  <div class="card__header">
    <h2 class="card__title">{{message}}</h2>
    <h3 class="card__subtitle">{{info}}</h3>
  </div>
  <a class="card__button" href="{{link}}">Повернутися назад</a>
  {{/with}}
</div>