<main class='main'>
  <section class="purchase-info">
    <div class="form">
      {{> heading}}

      {{#with data}}

      <div class="purchase-item__block">
        <span class="title">ID:</span>
        <span class="text">{{id}}</span>
      </div>
      {{> divider}}
      <div class="purchase-item">
        <div class="purchase-item__block">
          <span class="title">Ім'я:</span>
          <span class="text">{{firstname}}</span>
        </div>
        <div class="purchase-item__block">
          <span class="title">Прізвище:</span>
          <span class="text">{{lastname}}</span>
        </div>
      </div>

      <div class="purchase-item">
        <div class="purchase-item__block">
          <span class="title">Телефон:</span>
          <span class="text">{{phone}}</span>
        </div>
        <div class="purchase-item__block">
          <span class="title">Пошта:</span>
          <span class="text">{{email}}</span>
        </div>
      </div>
      {{> divider}}
      <div class="purchase-item__block">
        <span class="title">Назва товару:</span>
        <span class="text">{{product}}</span>
      </div>
      <div class="purchase-item__block">
        <span class="title">Коментар:</span>
        <span class="text">{{comment}}</span>
      </div>
      {{> divider}}
      <div class="purchase-item">
        <div class="purchase-item__block">
          <span class="title">Вартість товарів:</span>
          <span class="text">{{productPrice}}</span>
        </div>
        <div class="purchase-item__block">
          <span class="title">Сума до сплати:</span>
          <span class="text">{{totalPrice}}</span>
        </div>
      </div>
      <div class="purchase-item">
        <div class="purchase-item__block">
          <span class="title">Вартість доставки:</span>
          <span class="text">{{deliveryPrice}}</span>
        </div>
        <div class="purchase-item__block">
          <span class="title">Нараховані бонуси:</span>
          <span class="text">{{bonus}}</span>
        </div>
      </div>

      {{> button text="Змінити дані"}}
    </div>
  </section>
</main>