{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main class="main">
  {{#with data}}
  <div class="main-content main__content-light">
    <h1 class="title title--center">{{name}}</h1>

    <ul class="track__list">
      {{#each tracks}}
      <li class="track">
        <img width="100px" height="100px" src="{{image}}">
        <div class="track__content">
          <strong class="track__name">{{name}}</strong>
          <em class="track__author">{{author}}</em>
        </div>

        <form method="POST" action="/spotify-playlist-add">
          <input type="hidden" name="playlistId" value="{{../playlistId}}">
          <input type="hidden" name="trackId" value="{{id}}">
          <button class="add__button" type="submit">
            <img src="/svg/add_button.svg" alt="">
          </button>
        </form>
      </li>
      {{/each}}
    </ul>

  </div>
  {{/with}}
</main>