<div class="product__card">
  <div class="card__name">{{prodName}}</div>
  <div class="card__description">{{description}}</div>
  <div class="card__id">ID: {{id}}</div>
  <div class="product__row">
    <div class="card__price">{{price}}₴</div>
    <button class="card__edit"><a href="/product-edit?id={{id}}">Редагувати</a></button>
  </div>
</div>